@font-face {
  font-family: 'Turist';
  src: url('../fonts/Turist-Regular.otf');
  font-style: normal;
}

@keyframes slideUp {
  from {
    bottom: -8px;
    opacity: 0.5;
  } to {
    bottom: 16px;
    opacity: 1;
  }
}

body {
  /* rendering */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  /* font */
  font-family: 'Turist', Times, serif;
  font-size: clamp(1em, 1em + 2vw, 3em);
  line-height: 1.05em;
  background-color: #a9c0cd;
  color: #ff0000;
  margin: 24px;
}

/* header */

.title,
.new-es,
.new-eng,
.language {
  position: fixed;
}

.title {
  font-weight: normal;
  margin: 0;
  top: 24px;
  left: 2.5em;
}

.new-es {
  font-size: 1.6em;
  top: 50vh;
  transform: translateY(-50%);
  left: 25vw;
}

.new-eng {
  font-size: 1.6em;
  top: 50vh;
  transform: translateY(-50%);
  right: 25vw;
}

.language {
  top: 10px;
  right: 24px;
  text-align: right;
}

.language a {
  color: #ff0000;
  text-decoration: none;
}

.selected-language {
  border-bottom: 0.06em solid #ff0000;
}

/* subscribe */

#subscribe {
  display: none;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #FFFEE7;
  font-size: 0.85em;
  line-height: 1.05em;
  text-align: center;
  padding: 16px;
  animation: slideUp 0.25s forwards ease-out;
}

.subscribe-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 1em;
}

.mail-input {
  font-family: 'Turist', Times, serif;
  font-size: 1em;
  line-height: 1.05em;
  color: #ff0000;
  background: none;
  border: none;
  width: 8em;
  border-bottom: 1px solid #ff0000;
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: center;
}

input:focus{
  outline: none;
}

#subscribe-close {
  position: absolute;
  top: -4px;
  right: 4px;
  transform: scale(0.75);
  cursor: pointer;
}

#subscribe-close:hover {
  opacity: 0.75;
}


#subscribe-submit {
  cursor: pointer;
}

#subscribe-submit:hover {
  opacity: 0.75;
}

/* main */

main {
  margin-top: 80vh;
}

p {
  text-indent: 4em;
}

.introduction {
  font-size: 1.15em;
  line-height: 1em;
}

.authors-title {
  font-size: 0.7em;
  font-weight: normal;
  margin: 0;
}

.authors {
  font-size: 0.7em;
  line-height: 1.05em;
  list-style: none;
  margin-top: 0;
  padding-left: 2em;
}

article {
  width: 64vw;
  margin-left: auto;
}

article p {
  font-size: 0.85em;
  line-height: 1.05em;
  margin: 0;
}

.footnotes {
  font-size: 0.5em;
  line-height: 1.05em;
  margin-top: 1em;
}

.footnotes ol {
  padding-left: 1em;
  text-indent: 4.5em;
  margin: 0;
}

.article-title,
.article-author {
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  margin: 0;
}

.footnotes-title {
  font-weight: normal;
  margin: 0;
}

/* footer */
footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 2em;
}

.footer {
  font-size: 0.7em;
  line-height: 1.05em;
  width: fit-content;
}

@media only screen and (max-width: 860px) {
  body {
    margin: 16px;
  }

  .new-es {
    left: 15vw;
  }
  
  .new-eng {
    right: 15vw;
  }

  .title {
    left: 2.25em;
  }

  #subscribe-close {
    top: 4px;
    right: 4px;
  }

  .introduction {
    font-size: 1em;
  }

  article {
    width: 100%;
  }
}