body {
  font-size: clamp(1em, 1em + 2vw, 3em);
  background-color: #CDE8F4;
  color: #E63312;
}

/* header */

.title,
.new-es,
.new-eng,
.language {
  position: fixed;
}

.title {
  font-weight: normal;
  margin: 0;
  top: 8px;
  left: 2em;
}

.new-es {
  font-size: 2em;
  top: 30vh;
  left: 20vw;
}

.new-eng {
  font-size: 2em;
  top: 30vh;
  right: 20vw;
}

.language {
  top: 8px;
  right: 16px;
  text-align: right;
}

.language a {
  color: #E63312;
  text-decoration: none;
}

/* main */

main {
  margin-top: 70vh;
}

p {
  text-indent: 4em;
}

.authors-title {
  font-size: 0.7em;
  font-weight: normal;
  margin: 0;
}

.authors {
  font-size: 0.7em;
  list-style: none;
  margin-top: 0;
  padding-left: 2.5em;
}

article {
  width: 64vw;
  margin-left: auto;
}

article p {
  font-size: 0.7em;
}

.footnotes {
  font-size: 0.5em;
}

.footnotes ol {
  padding-left: 1em;
  text-indent: 4.5em;
  margin: 0;
}

.article-title,
.article-author {
  font-weight: normal;
  text-align: center;
  margin: 0;
}

.footnotes-title {
  font-weight: normal;
  margin: 0;
}

/* footer */
footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 2em;
}

.footer {
  font-size: 0.7em;
  width: fit-content;
}